[preset.0]
name="Android"
platform="Android"
package/unique_name="com.cfmz3.lasttrain"
version/code=1
version/name="0.1"
options/export_use_debug_apk=false
options/signed_apk=false
; Set this to your keystore details for release builds.

[preset.0.files]
; Add exported resources patterns if necessary (left empty for manual export)

